.App {
  text-align: center;
  margin: 10px;
}

h1 {
  font-size: 40px; 
}

.item {
  background-color: lightskyblue;
  border: 2px solid;
  border-radius: 20px;
  padding: 20px;
  margin: 5px;
  display: grid;
  grid-template-columns: 45% 45% 10%;
  align-items:center;
}

.item:hover {
  background-color: deepskyblue;
}

.taskTitle {
  font-size: 30px;
}

.modifier {
  padding: 40px;
}

.descriptor {
  padding-left: 5px;
}

.box {
  height: 30px;
}

input, .date {
  margin: 0 15px;
  background-color: lightslategrey;
}

input[type='checkbox'] {
  -webkit-appearance:none;
  width:30px;
  height:30px;
  background:white;
  border-radius:5px;
  border:2px solid #555;
}

.user {
  display: flex;
  align-items: center;
  background-color: lightsteelblue;
  padding: 5px;
}

button {
  background-color: lightseagreen;
}

button:hover {
  background-color: mediumseagreen;
}

.login {
  top:50%;
  left: 50%;
  transform: translate3d(-50%,-50%, 0);
  position: absolute;
}

.login-btn {
  padding: 50px 100px;
}

.logout-btn {
  padding: 5px 15px;
}

.header {
  display: flex;
  justify-content: space-between;
}